node_modules
build
dist
scripts
typeDocs
server
**/__snapshots__
**/*.stories.tsx
**/*.stories.mdx
**/*.test.ts
**/*.test.tsx
__mocks__
./vite.config.ts
./vite.codemods.config.ts
./rollup.config.js
!.storybook
