# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# IDE files
.idea/*

# vscode settings
.vscode/

# eslint
.eslintcache

.yalc
yalc.lock

.vitest-preview
typeDocs

.cursor
__pycache__/

vite.config.ts.timestamp-*
storybook-static