# See https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package
# for more about ignoring files.

# Ignore everything
# (except package.json, README (and its variants), CHANGELOG (and its variants), LICENSE / LICENCE
# https://git-scm.com/docs/gitignore#_examples:~:text=Example%20to%20exclude%20everything%20except%20a%20specific%20directory
/*

# Do not ignore the dist dir
!/dist
!/bin
