{
    "branches": [{name: 'v3.x', range: '3.x', channel: '3.x'}, "master", { name: "next", prerelease: true }],
    "plugins": [
      "@semantic-release/release-notes-generator",
      "@semantic-release/github",
      [
        "@semantic-release/changelog",
        {
          "changelogFile": "CHANGELOG.md"
        }
      ],
      [
        "@amanda-mitchell/semantic-release-npm-multiple",
        {
          "registries": {
            "github": {},
            "public": {}
          }
        }
      ]
    ]
  }
