{
    "branches": ["master", "next"],
    "plugins": [
      ["@semantic-release/commit-analyzer", {
        "preset": "angular",
        "releaseRules": [
          {"type": "docs", "scope":"DOCUMENTATION", "release": "patch"},
          {"type": "style", "release": "patch"}
        ]
      }],
      "@semantic-release/release-notes-generator",
      "@semantic-release/github",
      [
        "@semantic-release/changelog",
        {
          "changelogFile": "CHANGELOG.md"
        }
      ],
      [
        "@amanda-mitchell/semantic-release-npm-multiple",
        {
          "registries": {
            "github": {},
            "public": {}
          }
        }
      ]
    ]
  }
